<mat-card-header [style.background-color]="widget.cardColor">
  <div class="mat-card-header-content">
    <mat-card-title>
      <div class="card-number mat-card-header-text">
        {{widget.dataPrefix}}{{transformNumber(widget.currentNumber, 1, true)}}{{widget.dataSuffix}}
      </div>
    </mat-card-title>
    <mat-card-subtitle class="card-title">{{widget.title}}</mat-card-subtitle>
  </div>

</mat-card-header>


<mat-card-content>
  <div class="card-subtitle-content">
    <div class="card-subtitle">
      <div class="card-subtitle-number">{{widget.dataPrefix}}{{transformNumber(widget.lowValue, 2, true)}}{{widget.dataSuffix}}</div>
      <div class="card-subtitle-highLow-label">Low</div>
    </div>
    <div class="card-subtitle">
      <div class="card-subtitle-number">{{widget.dataPrefix}}{{transformNumber(widget.highValue, 2, true)}}{{widget.dataSuffix}}</div>
      <div class="card-subtitle-highLow-label">High</div>
    </div>
  </div>


</mat-card-content>
<mat-card-footer>
  <span class="lastUpdated">Last updated {{widget.getLastUpdatedString()}}</span>
</mat-card-footer>
