<mat-card-header [style.background-color]="widget.isDefaultCardColor(widget.cardHeaderColor) ? '' : widget.cardHeaderColor">
  <div class="mat-card-header-content">
    <mat-card-title>
      <div class="card-number mat-card-header-text">
        {{widget.dataPrefix}}{{utils.transformNumber(widget.currentNumber, 0, true)}}{{widget.dataSuffix}}
      </div>
    </mat-card-title>
    <mat-card-subtitle class="card-title">{{widget.title}}</mat-card-subtitle>
  </div>

</mat-card-header>


<mat-card-content>
  <div class="card-subtitle-content" *ngIf="widget.showHighLow">
    <div class="card-subtitle">
      <div class="card-subtitle-number">{{widget.dataPrefix}}{{utils.transformNumber(widget.lowValue, 0, true)}}{{widget.dataSuffix}}</div>
      <div class="card-subtitle-highLow-label">Low</div>
    </div>
    <div class="card-subtitle">
      <div class="card-subtitle-number">{{widget.dataPrefix}}{{utils.transformNumber(widget.highValue, 0, true)}}{{widget.dataSuffix}}</div>
      <div class="card-subtitle-highLow-label">High</div>
    </div>
  </div>


</mat-card-content>

<mat-card-actions *ngIf="widget.secondaryActions.length > 0">
  <app-widget-container-actions [widget]="widget"></app-widget-container-actions>
</mat-card-actions>

<mat-card-footer>
  <span class="lastUpdated">Last updated {{widget.updatedAtString}}</span>
</mat-card-footer>
<app-widget-container-data-update [widget]="widget"></app-widget-container-data-update>
