<mat-card-header [style.background-color]="widget.cardHeaderColor">
  <div class="mat-card-header-content">
    <div class="d3-container" id="{{widget.d3GraphId}}"></div>
  </div>
  <div class="card-header-graph-text-overlay">{{widget.title}}</div>

</mat-card-header>


<mat-card-content>

  <div class="card-subtitle-content" *ngIf="widget.showLegend">
    <div class="card-legend-container" *ngFor="let seriesItem of widget.legendItems">
      <div class="card-legend-item">
        <div class="card-legend-item-color" [style.background-color]="seriesItem.color"></div>
        <div class="card-legend-item-name">{{seriesItem.name}}: ({{widget.dataPrefix}}{{utils.transformNumber(seriesItem.currentValue, widget.numberPrecision, true)}}{{widget.dataSuffix}})</div>
      </div>

    </div>
  </div>

</mat-card-content>

<mat-card-actions *ngIf="widget.secondaryActions.length > 0">
  <app-widget-container-actions [widget]="widget"></app-widget-container-actions>
</mat-card-actions>

<mat-card-footer>
  <span class="lastUpdated">Last updated {{widget.updatedAtString}}</span>
</mat-card-footer>
<app-widget-container-data-update [widget]="widget"></app-widget-container-data-update>
