<mat-card [ngSwitch]="widget.type"  [style.width.px]="widget.cardWidth" [style.height.px]="widget.cardHeight" [style.background-color]="widget.cardColor">

  <app-widget-text *ngSwitchCase="WidgetType.Text" [widget]="widget" (click)="widget.onSelect(widget)"></app-widget-text>
  <app-widget-number *ngSwitchCase="WidgetType.Number" [widget]="widget" (click)="widget.onSelect(widget)"></app-widget-number>
  <app-widget-image *ngSwitchCase="WidgetType.Image" [widget]="widget" (click)="widget.onSelect(widget)"></app-widget-image>
  <app-widget-clock *ngSwitchCase="WidgetType.Clock" [widget]="widget" (click)="widget.onSelect(widget)"></app-widget-clock>
  <app-widget-graph *ngSwitchCase="WidgetType.Graph" [widget]="widget" (click)="widget.onSelect(widget)"></app-widget-graph>
  <app-widget-status *ngSwitchCase="WidgetType.Status" [widget]="widget" (click)="widget.onSelect(widget)"></app-widget-status>
  <app-widget-image-status *ngSwitchCase="WidgetType.StatusImage" [widget]="widget" (click)="widget.onSelect(widget)"></app-widget-image-status>
  <app-widget-switch *ngSwitchCase="WidgetType.Switch" [widget]="widget" (click)="widget.onSelect(widget)"></app-widget-switch>
  <div *ngSwitchDefault="">Unexpected type '{{widget.type}}'</div>

</mat-card>
